{% extends "base.html" %} {% block title %}FAQ{% endblock %} {% block content
    %}
   
    <br>
    <br>
    <h4>Why is Bulking "bad"?</h4>
     <li>A bulk is not going to give you more "gains" and is not needed to get "gains". Eating at an excessive bulk will just put on excessive fat. </li>
     <li>Calories are not the driver of muscle growth, what causes growth is the stimulus that your brain responds to when lifting weights.</li>
     <li>Now does this mean to avoid ever going above your maintenance calories? No, if you want to gain weight because you are skinny or underweight, it should be done by at max eating +300 calories from your maintenance. </li>
     <li>If you are at a healthy bodyweight and bodyfat% eating at maintenance is all that is needed, gaining muscle is a slow process.</li>
     <br>
     <h4>What stimulates growth or grows muscle then?</h4>
      <li>First i'm going to tell you what doesn't, muscle is NOT built through micro trauma and tears and then regrows larger.</li>
      <li>The main driver of hypertrophy(muscle growth) is Mechanical Tension. </li>
      <li>Mechanical tension is a pulling force experienced by muscle fibers when they try to shorten but are resisted. 
        This force increases as the speed of contraction slows down, which happens as you approach failure during a set.</li>
    <li>The force a muscle can produce depends on its contraction speed.
        As you get closer to failure, your contraction speed slows involuntarily, even if you're trying to move the weight quickly.
        This is when maximum mechanical tension occurs, as more cross-bridging happens between the proteins actin and myosin, which are responsible for muscle force production.</li>
     <li>Heavier Loads ≠ More Tension. Light loads taken to failure create similar mechanical tension (and hypertrophy) as heavy loads.</li>
        <li>Tension Isn’t Accumulated.
            Mechanical tension is experienced by active fibers during a set, not accumulated over volume.</li>
    <h4>Why low reps?</h4>
    
    {% endblock %}
    