{% extends "base.html" %} {% block title %}guidelines{% endblock %} {% block content
    %}
   
    <br>
    <h4>Warmup with 1-3 sets.</h4>
     <li>A warmup set can be between 2-10 reps, it is just to get the feel for the exercise and prepare the muscle for load. A recommended weight range for each set could be: <br>
        First set: 50% of Top set <br>
        Second set: 70% of Top set
        <br> <br>
        If doing 1 set:
        85% of Top set
     </li>
     <br>
    <h4>Rest at least 2 minutes between sets and workouts</h4>
    <li>Research suggests that resting for at least 2 minutes between working sets is sufficient for recovery. When transitioning to a new exercise, a way you can approach warm-ups is to perform your first warm-up set, rest for 1-2 minutes, complete your second warm-up set, rest another 1-2 minutes, and then move on to your top set.</li> 
    <br>
    <h4>Every working set to 4-8 repetitions going to near failure.</h4>
     <li>We want to go near failure to get the most stimulating reps but we don't want to go to failure and fatigue ourselves too much. 
        The range starts at 4 because if you leave a repetition in the tank, you will have hit 4 stimulating reps in a set.</li>
        <br>
    <h4>How should I progress? How do I progress?</h4> 
    <li>The primary way to progress is through progressive overload. You can progressively overload by adding weight or adding repetitions.</li>
    <li>The recommended method is to work through the 4-8 repetition range until you hit 8+ reps, then up the weight to a weight where you can only hit 4-5 reps, then work up to 8+ reps again.</li>
    <li>Or you can work in smaller increases in weight where you only lose a rep or two</li>
    <li>Now if you have plateau'd for a long time, consider just adding a little bit of weight instead of trying to add repetitions as they are very hard to add.</li> 
    <br>
    <h4>What should progress look like? How often should I be adding weight or adding a rep to an exercise?</h4>
    <li>It depends, if you are a beginner so 0-2 years, progress should be almost every session. 
        If you are further along your journey, progress will be around every 2-3 sessions maybe even more. It really depends on how long you have been lifting and how your recovery is.
    </li>
    <br>
    <h4>What if I plateau hard?</h4>
    <li>Lower the volume of the muscle group you are doing, and if you start progressing again don't add the volume back!</li>
    <br>
     
    {% endblock %}
    