{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<h1 align="center">Welcome To Fitness of Tomorrow</h1>
<p align=" center" style="font-size: 18px; color: gray;">Spearheading the new age of fitness where we look at new studies and have an open mind. </p>
<p align="center"  style="margin-bottom: 20px; font-size: 18px; color: gray;">We don't have emotional attachments and don't only look at physiques to equate to knowledge.</p>
<h2 align="center">The Basics of Tomorrow</h2>
<br>

<h4 align="center">Great creators to follow:</h4>

<p align="center">
  <a href="https://www.instagram.com/coach_mundy_/" target="_blank">Elijah Mundy</a> |
  <a href="https://www.instagram.com/tnutrition_fitness/" target="_blank"> Joel Twinem (TNF)</a> |
  <a href="https://www.instagram.com/liftrunbang1/" target="_blank">Paul Carter</a> |
  <a href="https://www.instagram.com/scientificsnitch/" target="_blank">ScientificSnitch</a> |
  <a href="https://www.instagram.com/chrisabeardsley/" target="_blank">Chris Beardsley</a> |
  <a href="https://www.instagram.com/dxklan/" target="_blank">Deklan McMichael</a>  |
  <a href="https://www.instagram.com/ryjewers/" target = "_blank">Ryan Jewers</a> |
  <a href="https://www.tiktok.com/@doom_mxn" target ="_blank">Omer</a> 
</p>
<br>
<h2 align="center">Basic Pointers</h2>

<div align="center"><a>Bulking is not needed to build "more" muscle</a></div>
<div align="center"><a>Muscle is not built through microtears</a></div>
<div align="center"><a>Zero intensifiers (drop sets) (finishers) are needed</a></div>
<div align="center"><a>Time under tension is a useless metric</a></div>
<div align="center"><a>The "stretch" or maximum range of motion is not needed</a></div>
<div align="center"><a>Adding or subtracting volume during a bulk or cut is useless</a></div>
<br>
<h2 align="center">The Checklist</h2>
<div align="center"><a>Train 3-4 Days a week (FB or UL)</a></div>
<div align="center"><a>Hit each muscle 2-3 times a week</a></div>
<div align="center"><a>Lift in the range of 4-8 reps</a></div>
<div align="center"><a>Increase weight after reaching 8+ repetitions to Progressively Overload</a></div>
<div align="center"><a>Train to near failure, leave 1-2 repetitions in the tank</a></div>
<div align="center"><a>Rest 2+ minutes between sets and exercises</a></div>
<div align="center"><a>Have a good sleep schedule, 7+ hours</a></div>
<br>

<h1 align="center">
  <a href="/FAQ">Why?</a>
</h1>



{% endblock %}
