{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Welcome To Fitness of Tomorrow</h1>
<p align=" center" style="font-size: 18px; color: gray;">Spearheading the new age of fitness where we look at new studies and have an open mind. </p>
<p align="center"  style="margin-bottom: 20px; font-size: 18px; color: gray;">We don't have emotional attachments and don't only look at physiques to equate to knowledge.</p>
<h2>The Basics of Tomorrow</h2>
<ul>
  <li style = "color: black;">Great creators to follow: </li>
    <ul>
      <li style = "color: black;"><a href="https://www.instagram.com/coach_mundy_/" target="_blank">Elijah Mundy</a></li>
      <li style = "color: black;"><a href="https://www.instagram.com/tnutrition_fitness/" target="_blank">TNF</a></li>
      <li style = "color: black;"><a href="https://www.instagram.com/liftrunbang1/" target="_blank">Paul Carter</a></li>
      <li style = "color: black;"><a href="https://www.instagram.com/chrisabeardsley/" target="_blank">Chris Beardsley</a></li>
      <li style = "color: black;"><a href="https://www.instagram.com/dxklan/" target="_blank">Deklan McMichael</a></li>
    </ul>


</ul>




{% endblock %}
