{% extends "base.html" %} 
{% block title %}Workout{% endblock %} 
{% block content %}

<br>
<h1 align="center">So how do I structure my workouts?</h1>
<h4 align="center">Going off the checklist and other factors, the best splits are Upper Lower and Full Body</h4>
<h6 align="center">I am going to give you templates for both and some pointers for both, edit the workouts how you want, do what you want.</h6>
<h8 align="center">Full Body Tips: The goal is to hit a muscle at least 2-3 times a week, some muscles can be hit 3 times a week and some might be not able to. Muscles that are easily damaged include the chest, biceps, triceps, and hamstrings. If you can recover fast enough to hit these muscles 3x a week go right ahead.
</h8>
<br>
<h8 align="center">Upper Lower Tips: The goal here is to hit a muscle 2 times a week and recover the best, which is why it's better than PPL(Push Pull Legs). 
<br>
  <h8 align="center">Add-remove volume, replace exercises as you like.</h8>
<br>

<style>
    #full_body_note, #upper_lower_note {
        width: 1100px;  /* Adjust width */
        height: 300px; /* Adjust height */
    }
</style>

<!-- Full Body Section -->
<h1 align="center">Full Body</h1>
<ul class="list-group list-group-flush" id="full-body-notes">
  {% for note in user.notes %}
    {% if note.data.startswith("Full Body:") %}
      <li class="list-group-item">
        {{ note.data[11:] | replace('\n', '<br>') | safe }}  <!-- Removes "Full Body:" from display -->
        <button type="button" class="close" onClick="deleteNote('{{ note.id }}')">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<form method="POST" id="full-body-form">
    <textarea name="full_body_note" id="full_body_note" class="form-control">
Full Body
Day 1
Chest Press 1x 
Lateral Raise 1x 
Upperback Row 1x 
Pulldown 1x 
Bicep Curl 1x 
Tricep Pushdown 1x 
Leg Extension 1x 
Hamstring Curl 1x 
Calf 1x 

Day 2
Chest fly 1x 
Shoulder Press 1x 
Upperback Row 1x 
Pulldown 1x 
Bicep Curl 1x 
Tricep Pushdown 1x 
Leg Extension 1x 
Hamstring Curl 1x 
Calf 1x 

Day 3
Hamstring curl 1x 
Squat pattern 1x 
Shoulder Press 1x 
Chest fly 1x 
Rear delt 1x 
Lat row 1x 
Bicep Curl 1x
Tricep Pushdown 1x
    </textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Full Body Workout</button>
    </div>
</form>

<br><br>

<!-- Upper Lower Section -->
<h1 align="center">Upper Lower</h1>
<ul class="list-group list-group-flush" id="upper-lower-notes">
  {% for note in user.notes %}
    {% if note.data.startswith("Upper Lower:") %}
      <li class="list-group-item">
        {{ note.data[12:] | replace('\n', '<br>') | safe  }}  <!-- Removes "Upper Lower:" from display -->
        <button type="button" class="close" onClick="deleteNote('{{ note.id }}')">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<form method="POST">
    <textarea name="upper_lower_note" id="upper_lower_note" class="form-control">
Upper Day A
Shoulder press 2x
Chest Fly 2x
Upper back row 1x
Pulldown 1x
Bicep curl 1x
Tricep Pushdown 1x

Lower Day A
Hamstring curl 2x
Stiff Legged Deadlift 1x 
Leg Extension 2x
Glute raise 1x 
Calf 2x 

Upper Day B
Shoulder Press 2x
Chest fly 2x
Upper Back row 1x
Lower lat row 1x
Bicep curl 1x
Tricep Pushdown 1x
      
Lower Day B
Hamstring curl 2x
Leg ext 1x
Squat patter 2x
Adductor 1x
Calf 1x

Upper Day C
Incline Chest Movement 1x 
Lateral Raise 1x 
Upper Back Row 2x
Pulldown 2x
JM Press 1x 
Hammer Curl 1x

Lower Day C 
Hamstring Curl 2x
Adductor 1x 
Stiff Legged Deadlift 2x
Leg extension 1x 
Calf 2x
    </textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Upper Lower Workout</button>
    </div>
</form>

{% endblock %}